.UnderHeader {
    width: 100%;
    display: flex;
    margin-top: 110px;
    justify-content: center;

    h3 {
        user-select: none;
        -webkit-user-select: none;

        .under-header-letters {
            margin: 1.6px;
            opacity: 0;
            font-size: 21px;
            font-family: monospace;
            color: black;
            transition: opacity 0.3s;
        }
    }
}